body {
    background: black;
    margin: 0;
}

#canvas1 {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 5px solid rgb(22, 21, 21)
}

#video2, #canvass {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    width: 200px; 
    height: auto;
    border: 2px solid #fff; 
    z-index: 10; 
}

#video2 {
    display: block; /* Show video for real-time tracking */
}
